* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Lato', sans-serif;
    font-family: 'Libre Baskerville', serif;
    font-family: 'Poppins', sans-serif;
}

/* same-class uses */
.section-container {
    width: 80rem;
    margin: auto;
}

.row {
    display: flex;
}

.same-btn {
    color: white;
    padding: 12px 23px;
    text-decoration: none;
    background-color: #ff5959;
    display: inline-block;
    border-radius: 5px;
}

/* same-class uses */

/* home area start css */
.home-bg {
    background-image: url(images/donation7.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    position: relative;
}

.home-bg::before {
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    content: "";
    top: 0;
    background-color: rgba(0, 0, 0, 0.5);
    background-size: cover;
}

.home-content {
    text-align: center;
    position: relative;
    padding: 100px 0;
}

.home-content h1 {
    color: black;
    font-size: 3.2rem;
    color: #fff;
    padding-top: 20px;
    padding-bottom: 20px;
}

.home-content p {
    color: #fff;
    padding-bottom: 30px;
}

/* home area end css */
/* donate are start */
.donate-content {
    text-align: center;
    padding-top: 60px;

}

.donate-content h1 {
    color: #121212;
    font-weight: bold;
}

.donate-content p {
    content: #707070;
    padding-bottom: 10px;

}

#donate-count {
    text-align: center;
    padding: 50px 0;
}

#donate-count p {
    display: inline-block;
    color: #707070;
    padding: 40px 40px;
    background-color: #fafafa;
    border-radius: 5px;
    margin: 0 6px;
    font-weight: bold;
    font-size: 30px;
    transition: .3s;
}

/* #donate-count p:hover {
    background-color: #ffeeee;
    border: 3px solid #ff5959;
    color: #ff5959;
} */

.active {
    background-color: #ffeeee !important;
    border: 3px solid #ff5959;
    color: #ff5959 !important;
}

.donate-output {
    text-align: center;
    margin-bottom: 50px;

}

.donate-output input {
    width: 60%;
    padding: 10px 0;
    text-align: center;
    border: none;
    border-bottom: 2px solid #dadada;
    outline: none;
    margin-bottom: 25px;
}

/* donate are end */

/* donate plan start */
.donate-plan-content {
    text-align: center;
    padding-top: 50px;
    padding-bottom: 20px;
}

.donate-plan-content h1 {
    font-size: 30px;
    padding-bottom: 15px;
    font-weight: bold;
}

.donate-plan-content p {
    color: #707070;
}

.width-33 {
    width: 33.33%;
    background-color: #edf5f6;
    padding: 50px 20px;
    margin: 30px 20px;
    border-radius: 5px;
    box-shadow: 2px 1px 15px rgb(189, 183, 183);
}

.width-33 img {}

.width-33 h1 {
    padding: 20px 0;
}

.width-33 p {
    padding-bottom: 20px;
    color: #737474;
}

.food-bg {
    background-color: #edf5f6;
}

.shelter-bg {
    background-color: #ffeeee;
}

.education-bg {
    background-color: #fff4d6;
}

/* donate plan end */
/* mission area start */
.width-50 {
    width: 50%;
    padding: 50px 20px;

}

.width-50 img {
    width: 100%;
}

.width-50 h1 {
    padding-top: 70px;
    padding-bottom: 10px;
    color: #121212;
    font-size: 3 40px;
    font-weight: bold;
}

.width-50 p {
    color: #707070;
    padding-bottom: 30px;
}

/* mission area end */

/* update area start */
/* update area end */